body{
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffcc66;
    text-align: center;
}
.ad-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffcc66;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width:800px;
    margin: 50px auto;
}
.content{
    flex: 1;
    padding: 20px;
}
h1{
    color: #d35400;
    font-size: 2em;
    margin-bottom: 10px;
}
p{
    font-size: 1.2em;
    color: #555;
}
.buy-now{
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ;
}
.buy-now:hover{
   background-color: #c0392b;
}
.image-container{
    width:100%;
    height: auto;
    border-radius: 10px;
}
@media(max-width:768px){
    .ad-container{
        flex-direction: column;
        text-align: center;
    }
    .image-container img{
        width: 50%;
        size: 50px;

    }
}
*{
    background: #ffcc66;
}
B{
    color:rgb(99, 6, 21);
    font-size: 100px;
}
h2{
    color: #c0392b;
    font-size: 40px;
    text-shadow: white 4px 4px 4px;
}
.box{
    background-color:springgreen;
    align-items: center;
    color: white;
    font-size: 40px;

}
